body{
    text-align: center;
}
button{
    border: none;
    width: 60%;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0 30px 0;
    transition: 0.3s;
}
button:hover{
    font-size: 18px;
    height: 35px;
}

.Post{
    width: 50%;
    margin: 10px 25%;
    text-align: left;
    background-color: rgb(197, 197, 197);
    padding: 15px 15px;
    border-radius: 5px;
}
.Post h4{
    text-align: center;
}